.account-settings-popup {
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 400px;
    padding: 20px;
    background-color: black;
    color: white; /* Set font color to black */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    border-radius: 8px;
	margin-top: 5px;
	box-shadow: inset 0px -3px 3px rgb(89, 89, 89);

}

.popup-content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.account-settings-form {
    width: 100%;
}

.form-group {
    margin-bottom: 15px;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
    color: white; /* Ensure label text is black */
}

.form-group input {
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
}

.form-actions {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.form-actions .btn {
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.form-actions .btn-primary {
    background-color: #007bff;
    color: white;
}

.form-actions .btn-secondary {
    background-color: #6c757d;
    color: white;
}