.chat-editor{
	display: grid;
	width: 100%;
	overflow-y: hidden;

}

.chat-editor h2{
	margin-top: 5px;
}

.chat-panel{
	background-color: rgb(58, 58, 58);
	/* max-height: 99vh; */
	overflow-y: none;
	overflow-x: none;
}

.chat-panel > div{
	overflow-y: scroll;
	overflow-x: hidden;
	/* max-height: 90vh; */
	max-height: 90vh;
	border: 2px outset black;
}

.chat-panel > div::-webkit-scrollbar{
	/* margin-right: 1px; */

}

.control-panel{
	background-color: rgb(58, 58, 58);
	/* max-width: 300px; */
}

.control-panel > .header{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}

.control-panel > .header > img{
	margin: 5px;
	filter: invert(1);
	cursor: pointer;
}

.chat-item-left, .chat-item-right{
	border-radius: 10px;
	background-color: rgb(0, 0, 0);
	color: white;
	/* box-shadow: inset 2px -2px 3px rgb(136, 136, 136); */
	margin: 15px 0;
	position: relative;
	word-wrap: break-word; /* Allow breaking of long words */
    word-break: break-word; /* Ensure text wraps within container */
}



.chat-item-right{
	box-shadow: inset -2px -2px 3px rgb(105, 105, 105);
}

.chat-item-left{
	box-shadow: inset 2px -2px 3px rgb(105, 105, 105);
}


.chat-item-left::after, .chat-item-right::after {
    position: absolute;
    top: 50%;
    right: -10px; /* Adjust the position slightly to align it with the edge */
    transform: translateY(-50%); /* Center the triangle vertically */
    content: "";
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 20px 0 20px 10px; /* Triangle pointing left */
    border-color: transparent transparent transparent rgb(0, 0, 0); /* Match the background color of .chat-item */
}

.chat-item-right::after{
	left: -10px;
    transform: translateY(-50%) rotate(180deg); /* Center the triangle vertically */
}

#prompt-form{
	height: 100%;
	position: relative;

	/* background-color: red; */
	/* padding-right: 5px; */
}

#prompt-form > textarea{
	height: 50%;
	/* padding-left: 45px; */
	/* margin-bottom: 150px; */
	padding-bottom: 10px;
	resize: none;
	border-radius: 0;
}

#prompt-form #submit-icon {
	/* position: absolute; */
	/* transform: translate(900%, -50px); */
	/* transform: translateY(-50px); */
	/* bottom: 35%; */
	/* bottom: 250px; */
	bottom: 40%;
	right: 15px;
	cursor: pointer;
}

#prompt-form #submit-icon:hover{
	transform: scale(1.05);
	/* transform: translateY(-50px) scale(1.05); */
}

#prompt-form > .panel-controls{
	background-color: white;
	border: none;
	border-color: white;
	border-radius: 0 0 5px 5px;
}
