#tuning-params-collapsible{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	font-weight: bold;
	height: 3em;
	padding-right: 15px;
	padding-left: 13px;
}




#optional-tuning-params{
	background-color: rgb(141, 141, 141);
	border-radius: 0 0 10px 10px;	
	display: none;
	flex-direction: column;
}

#optional-tuning-params > .llmrow-fluid:first-child{
	gap: 10px;
}	

#temperature-container{
	flex: 1;
}

#temperature-container > .llmrow-fluid:first-of-type{
	gap: 10px;
}

#temperature-slider-wrapper{
	flex: 1;
}

#temperature-input{
	max-width: 3em;
}

#max-tokens-container{
	/* max-width: 5.7em; */
	min-width: 7.5em;
}

@media (max-width: 1068px){
	#optional-tuning-params > .llmrow-fluid:first-child{
		flex-direction: column;
	}	
}