.chat-editor #toggle-chat-list-wrapper{
    background-color: var(--second-layer-bg-color);
    position: absolute;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    left: 0;
    margin: 0;
}

#toggle-chat-list-wrapper:hover{
    /* transform: scale(1.1); */
    background-color:  var(--second-layer-bg-color-highlight);
}


.chat-editor .chat-list-panel {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--second-layer-bg-color);
    /* position: absolute; */
    /* width: 300px; */
	min-width: fit-content;
    max-width: 15%;
    /* width: 100%; */
    max-height: 86vh;
    border: none;
    overflow: hidden;
    border-radius: 12px;
    padding: 15px;
    /* box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); */
}

.chat-list-panel.clp-hidden{
    /* clp stands for chat-list-panel */
    display: none;
    /* background-color: red; */
}

.chat-list-panel > .header{
    /* is already flexed properly by using selector classes from llmspot.css */
    /* this command prevents taking up more vertical space than necessary */
    flex: 0; 
    gap: 10px;
    border-bottom: 2px solid #4a4a4a;
    padding-bottom: 5px;
}

.chat-list-panel > h4 {
    color: #e0e0e0;
    font-size: 1.2rem;
    font-weight: bold;
    margin-bottom: 10px;
    padding-bottom: 5px;
  
}

.chat-list > label {
    padding: 12px 16px;
    border-radius: 8px;
    color: #e0e0e0;
    font-size: 14px;
    transition: all 0.2s ease;
    border: 1px solid transparent;
    cursor: pointer;
    margin-right: 3px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    width: 100%;  /* Keeps the label's width within the container */
    max-width: 100%;  /* Ensures the label does not stretch beyond the parent */
    box-sizing: border-box;  /* Prevents padding from affecting width */
}

.chat-list {
    display: flex;
    flex-direction: column;
    gap: 8px;
    flex: 1;
    
    padding: 5px 0;
    overflow-y: auto;
    overflow-x: hidden;
    width: 100%;  /* Make sure this is set to ensure the container takes the full width */
    box-sizing: border-box;  /* Ensures padding/borders do not affect width */
}

.chat-list > label:hover {
    background-color: #3a3a3a;
    border-color: #4a4a4a;
    transform: translateX(2px);   
}

.chat-list > label.selected{
    background-color: #3a3a3a;
}

/* Custom scrollbar
.conversation-list::-webkit-scrollbar {
    width: 8px;
}

.conversation-list::-webkit-scrollbar-track {
    background: #2c2c2c;
    border-radius: 4px;
}

.conversation-list::-webkit-scrollbar-thumb {
    background: #4a4a4a;
    border-radius: 4px;
}

.conversation-list::-webkit-scrollbar-thumb:hover {
    background: #5a5a5a;
} */

.chat-list-panel > button{
    background-color: #089a4a;
    color: #e0e0e0;
    border: 1px solid #4a4a4a;
    padding: 8px 12px;
    border-radius: 6px;
    cursor: pointer;
    transition: all 0.2s ease;
    margin-top: 10px;
    width: 100%;
    font-size: 14px;
}

.chat-list-panel > button:hover {
    background-color: #03bd57;
    border-color: #4a4a4a;
    /* transform: translateX(2px); */
}

@media screen and (max-width: 768px) {
    .chat-list-panel {
        min-width: 100%;
    }
}